*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.head{
    text-align: center;
    background-color: bisque;
    font-weight: bold;
    font-size: x-large;
    padding-top: 20px;
    
}

.maincontainer{
    
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    
}
.container{
    display: flex;
    width: 100%;
   
    
}
.panel{
    height: 80vh;
    position: relative;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid red;
    margin: 10PX;
    transition: all 700ms ease-in;
    


}
.panel h3{
    position: absolute;
    bottom: 20px;
    left :20px;
    opacity: 0;
    
}
.panel.active{
    flex: 5;
}
.panel.active h3{
   opacity:1;
   transition: opacity 300ms ease-in 400ms;
}





#panel1{
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
#panel2{
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") ;
}
#panel3{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
}
#panel4{
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
}
#panel5{
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}